# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Python tooling
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
.cache/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
